h2 {
    padding: 0.4em 0.5em;
    color: #494949;
    background: #f4f4f4;
    border-left: solid 0.2em #7db4e6;
    border-bottom: solid 0.15em #d7d7d7;
}
h3 {
    border-bottom: solid 3px #cce4ff;
    position: relative;
}

h3:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #5472cd;
    bottom: -3px;
    width: 5em;
}
ul li {
    color: midnightblue;
    list-style-type: none !important
}

ol li {
    color: green;
}

img {
    width: 80%;
    margin: auto;
    display: block;
    border: 3px solid blue;
    border-radius: 10px;
}

table {
    margin: auto;
    display: block;
}

table tr {
    border: 2px solid green;
    background-color: aliceblue;
}